agm-map {
    height: 500px;
}

.ml {
    margin-left : 5px;
}
.mr {
    margin-right : 5px;
}
.mt {
    margin-top : 5px;
}
.mt2 {
    margin-top : 10px;
}
.mb {
    margin-bottom : 5px;
}
.right {
    float: right;
}
